<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/add_user_form.css">
    <title>Document</title>
</head>
<body>
  <div class="page">
    <div class="row">
      <div class="col-12 col-lg-8 col-xxl-9 d-flex">
        <div class="card flex-fill">
          <div class="card-header">
  
            <h5 class="card-title mb-0">Users</h5>
          </div>
          <table class="table table-hover my-0">
            <thead>
              <tr>
                <th>Name</th>
                <th class="d-none d-xl-table-cell">Price</th>
                <th class="d-none d-xl-table-cell">code</th>
                <th class="d-none d-xl-table-cell">Admin</th>
                <th class="d-none d-xl-table-cell">Created At</th>
                <th>Upate</th>
                <th class="d-none d-md-table-cell">Delete</th>
              </tr>
            </thead>
            <tbody>
              
              <% Products.forEach(product =>{ %>
                <tr>
                  <td><%= product.name %></td>
                  <td class="d-none d-xl-table-cell"><%= product.price %></td>
                  <td class="d-none d-xl-table-cell"><%= product.code %></td>
                  <td class="d-none d-xl-table-cell"><%= product.Admin.name%></td>


                  <td class="d-none d-xl-table-cell"><%= product.createdAt %></td>
                  <td><div><a class="btn btn-warning" href="/update-product-form/<%=product.id%>">Update</a></td>
                  <td><form method="POST" action="/delete-product/<%=product.id%>"><button type="submit" class="btn btn-danger">Delete</button></form></td>
                </tr>
              <% }) %>

            </tbody>
          </table>
        </div>
      </div>
      <div class="box">
        <div class="add_user_form">
            <h2>Add Product</h2>
            <form method="POST" action="/admin-create-product" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Price</label>
                    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Price" name="price" required>
                   
                </div>
                <div class="form-group">
                    <label for="codeProduct">Code</label>
                    <input type="text" class="form-control" id="codeProduct" placeholder="code" name="code" required>
                  </div>
                <div class="form-group">
                    <label for="image_products">images</label>
                    <input type="file" class="form-control" id="image_products" name="image" required>
                </div>

                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    </div>
  </div>
</body>
</html>